section {
    display: flex;
    gap: 20px;
    justify-content: center;
    display: wrap;
}

#banner {
    width: 100%;
    height: 550px;
}

#bannerimg {
    width: 100%;
}

.fav {
    padding: 55px 8%;
    font-size: 30px;
    width: fit-content;
    color: rgb(20, 20, 146);;
}
.fav hr {
    border: 2px solid rgb(20, 20, 146);
    
}

.mainDiv {
    width: 28%;
    box-shadow: 0px 0px 25px 5px #888787;
}

.mainDiv img {
    width: 100%;
}

.button {
    display: flex;
    justify-content: space-between;
}

.txt {
    padding: 20px;
}

.mainDiv button {
    background-color: rgb(20, 20, 146);
    border: 1px black solid;
    color: white;
    height: 50px;
    width: 50px;
}

.mainDiv button:hover {
    cursor: pointer;
    background-color: rgb(49, 49, 250);
    color: black;
    transition: 0.7s;
}


@media screen and (max-width:950px) {
    #banner {
        height: 2%;
    }

    section {
        flex-direction: column;
        align-items: center;
    }
    .mainDiv {
        width: 75%;
    }
    
}